* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
/* Colors
Primary */
    --pink: hsl(322, 100%, 66%);

/* Neutral */
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}
body {
    font-size: 18px;
}
.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-transform {
    text-transform: capitalize;
}
.btn {
    padding: 10px 30px;
    border-radius: 20px;
    border: solid;
    background-color: var(--pink);
    color: white;
}
#btn-bar {
    background: white;
    color: black;
    padding: 10px 30px;
    border-radius: 20px;
    border: solid;
}
.hero {
    /* control the width */
}
.grid-hero {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
