* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
/* Colors
Primary */
    --pink: hsl(322, 100%, 66%);

/* Neutral */
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    
}
.hero-section {
    padding: 20px 0;
}
.wrapper {
    width: 90vw;
    margin: 0px auto;
    padding: 20px 0;
}
.bg-hero{
    background-image: url("images/bg-hero-desktop.svg");
    background-color: var(--very-pale-cyan);
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo {
    height: 20px;
}
.text-transform {
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    color: var(--very-dark-cyan);
}
.hero-h1 {
    font-size: xx-large;
}
.para {
    margin: 20px 0;
    color: var(--grayish-blue);
}
.btn {
    padding: 10px 30px;
    border-radius: 20px;
    border: solid var(--pink);
    background-color: var(--pink);
    color: var(--very-pale-cyan);
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    box-shadow: 2px 1px 10px var(--grayish-blue);
}
#btn-bar {
    background: white;
    color: var(--very-dark-cyan);
    padding: 10px 30px;
    border-radius: 20px;
    border: solid white;
    cursor: pointer;
    box-shadow: 1px 1px 10px var(--grayish-blue);
}
.animate {
    animation-name: change-bg-color;
    animation-duration: 10s;
    animation-delay: 3s;
    animation-timing-function: ease-out;
    animation-direction: alternate;

}
@keyframes change-bg-color {
    0% {background-color: blue;}
    25% {background-color: aqua;}
    50% {background-color: brown;}
    75% {background-color: aquamarine;}
    100% {background-color: var(--pink);}
}
.hero {
    margin-top: 20px;
}
.flex-hero {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
}
.hero-img {
    height: 320px;
}
.alt-img {
    height: 300px;
}
.shadow-box {
    padding: 15px 15px 15px 60px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 1px 1px 10px var(--very-pale-cyan);
}
.fig-flex {
    display: flex;
    justify-content: end;
}
.rev-flex-hero {
    display: flex;
    gap: 100px;
    align-items: center;
    flex-direction: row-reverse;
}
.ready-to-build {
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    padding: 50px 30px;
    box-shadow: 1px 1px 10px var(--very-pale-cyan);
    position: relative;
    bottom: -60px;
    background: white;
    border-radius: 10px;
}
.h2-ready-to-build {
    margin-bottom: 10px;
}
.footer {
    background-color: var(--very-dark-cyan);
    padding: 100px 20px 20px 60px;
    font-size: small;
    color: var(--very-pale-cyan);
}
.grid-footer {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 2fr;
    grid-gap: 10px;
    justify-items: center;
}

.d-flex-footer {
    display: flex;
    gap: 5px;
    padding: 10px 0;
}
.rm-list-style {
    list-style: none;
    text-decoration: none;;
}
.rm-list-style li {
    padding: 10px 0;
}
.a-text-decoration {
    text-decoration: none;
    color: var(--very-pale-cyan);
}
.a-text-decoration:hover {
    text-decoration-line: underline;
}
.social-media img {
    color: var(--very-pale-cyan);
    display: flex;
    size: 64px;
    cursor: pointer;
}
.social-media img:hover {
   color: var(--pink) 
}

@media (max-width: 768px) {
    .flex-hero {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        /* justify-content: space-between; */
    }
    .rev-flex-hero {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }
    .hero-img {
        height: 200px;
        width: 70vw;
    }
    .alt-img {
        height: 150px;
        width: 70vw;
    }
    .footer {
        background-color: var(--very-dark-cyan);
        padding: 100px 10px 20px 40px;
        font-size: small;
        color: var(--very-pale-cyan);
    }
    .ready-to-build {
        width: 70vw;
        margin: 0 auto;
        text-align: center;
        padding: 30px 10px;
        box-shadow: 1px 1px 10px var(--very-pale-cyan);
        position: relative;
        bottom: -60px;
        background: white;
        border-radius: 10px;
    }
}
@media (max-width: 425px) {
    .bg-hero{
        background-image: url("images/bg-hero-mobile.svg");
        background-color: var(--very-pale-cyan);
    }
    .grid-footer {
        display: grid;
        grid-template-columns: 1fr;
        /* grid-gap: 10px; */
        justify-items: start;
    }
    .footer {
        background-color: var(--very-dark-cyan);
        /* padding: 100px 10px 20px 10px; */
        font-size: small;
        color: var(--very-pale-cyan);
    }
    .ready-to-build {
        width: 90vw;
        margin: 0 auto;
        text-align: center;
        padding: 30px 10px;
        box-shadow: 1px 1px 10px var(--very-pale-cyan);
        position: relative;
        bottom: -60px;
        background: white;
        border-radius: 10px;
    }
    .h2-ready-to-build {
        margin-bottom: 10px;
        font-size: 18px;
    }
    .shadow-box {
        padding: 15px 15px 15px 15px;
        margin: 20px 0;
        border-radius: 10px;
        box-shadow: 1px 1px 10px var(--very-pale-cyan);
    }
    
    
}
